body{
    background-color: rgb(243, 245, 230);
}

header{
    font-size: 72px;
    margin-top: 40px;
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(10, 0, 95) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

h3{
    color: rgb(36, 25, 136);
}

.content{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 5%;
}

.text{
    width: 40%;
    margin: 3%;
    text-align: justify;
}

.images{
    width: 60%;
    margin: 5% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

picture{ 
    width: 40%;
    min-width: 0px;
    object-fit: contain;
}

picture img{
    width: 100%;
    object-fit: cover;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    transition: all .4s ease-in-out;
    border: none;
    outline: 0px black solid;
}

picture:hover img{
    border-radius: 15px;
    outline: 10px rgb(0, 6, 92) dashed;
    transform: scale(1.1) rotate(15deg);
}

picture:hover{
    z-index: 10;
}

.images picture:nth-child(2){
    position: relative;
    top: 10%;
    left: -10%;
}

.images picture:nth-child(3){
    position: relative;
    top: -20%;
    left: -10%;
}

@media (max-width:1300px) {
    .content{
        flex-wrap: wrap;
    }
    
    .images{
        width: 100%;
        margin-right: 5%;
        justify-content: space-around;
    }

    .text{
        width: 100%;
        margin: 10%;
    }

    .images picture{
        width: 30%;
        min-width: 0px;
    }

    .images picture:first-child{
        position: relative;
        left: 15%;
    }

    .images picture:nth-child(2){
        top: -20%;
        left: 0;
        z-index: 5;
    }
    
    .images picture:nth-child(3){
        top: 0;
        right: 15%;
    }


    
}